@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow{
  0%{
    transform: rotate(0deg);
  } 
  100%{
    transform: rotate(360deg);
  }
}

a.activeStyle{
  color: #737e80;
  font-weight: bolder;
  text-decoration: underline;
}

a.act{
  color: #737e80;
}

.animate-spin-slow{
  animation: spin-slow 5s linear infinite;
}